<div app-theme>
  <div class="calculator-container">
    <div class="container">
      <div class="header">
        <div class="header-choice">
          <div class="text-wrapper">
            <span class="text">1</span>
            <span class="text">2</span>
            <span class="text">3</span>
          </div>
        </div>

        <div class="header-main">
          <div class="header-text">
            <h2>calc</h2>
          </div>
          <div class="header-action">
            <!-- <div class="label-theme">
              <span class="label">THEME</span>
            </div> -->
            <div class="header-circle">
              <div class="label-circle">
                <div class="group-mode">
                  <button
                    (click)="setMode('dark')"
                    class="btn-dark"
                    [ngClass]="{ active: isMode === 'dark' }"
                  ></button>
                  <button
                    (click)="setMode('light')"
                    class="btn-light"
                    [ngClass]="{ active: isMode === 'light' }"
                  ></button>
                  <button
                    (click)="setMode('zync')"
                    class="btn-zync"
                    [ngClass]="{ active: isMode === 'zync' }"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-result">
        <div class="panel-state">
          <span>
            {{ state }}
          </span>
        </div>
        <div class="panel">
          <h1>
            {{ (displayValue ? displayValue : "0") | number }}
          </h1>
        </div>
      </div>

      <div class="panel-body">
        <div class="panel-top-wrapper">
          <button (click)="setNumber('7')" class="btn-general" type="button">
            7
          </button>
          <button (click)="setNumber('8')" class="btn-general" type="button">
            8
          </button>
          <button (click)="setNumber('9')" class="btn-general" type="button">
            9
          </button>
          <button
            type="button"
            (click)="setDelete()"
            class="btn-general btn-feature"
          >
            del
          </button>

          <button (click)="setNumber('4')" class="btn-general" type="button">
            4
          </button>
          <button (click)="setNumber('5')" class="btn-general" type="button">
            5
          </button>
          <button (click)="setNumber('6')" class="btn-general" type="button">
            6
          </button>
          <button (click)="setCondition('+')" class="btn-general" type="button">
            &plus;
          </button>
          <button (click)="setNumber('1')" class="btn-general" type="button">
            1
          </button>
          <button (click)="setNumber('2')" class="btn-general" type="button">
            2
          </button>
          <button (click)="setNumber('3')" class="btn-general" type="button">
            3
          </button>
          <button (click)="setCondition('-')" class="btn-general" type="button">
            &minus;
          </button>

          <button class="btn-general" type="button">.</button>
          <button (click)="setNumber('0')" class="btn-general" type="button">
            0
          </button>
          <button (click)="setCondition('/')" class="btn-general" type="button">
            &divide;
          </button>
          <button (click)="setCondition('x')" class="btn-general" type="button">
            &times;
          </button>
        </div>
        <div class="panel-bottom-wrapper">
          <button
            (click)="setResetAll()"
            class="btn-general btn-feature"
            type="button"
          >
            reset
          </button>
          <button
            (click)="setCalculation()"
            class="btn-general btn-result"
            type="button"
          >
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
